/* 
=================================
        HEADER 
=================================
*/

header {
    min-height: 3em;
}

header h1 {
    float: left;
    display: block;
    font-size: 1.5em;
    padding: 10px 20px;
}

#logo {
    display: none;
}

/* 
=================================
        MENU 
=================================
*/

#menu {
    margin: 0;
}

#menu li a {
    padding: 14px 16px;
}

#menu li a, #menu li {
    display: block;
}

#menu li:last-child {
    float: none;
}

#menu {
    clear: both;
    max-height: 0;
    transition: max-height .2 ease-out;
}

.menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav-icon {
    background: #bd091b;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.nav-icon:before {
    background: #bd091b;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.nav-icon:after {
    background: #bd091b;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.menu-btn:checked ~ #menu {
    max-height: 37em;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*
=================================
        CONTENUTO 
=================================
*/
#contenutoGenerale header{
    display: block;
    text-align: center;
}

#promozioneStudenti {
    min-height: 5em;
    padding-top: 0em;
}

/* CONTENUTO > Contatti */

.centrato {
    display: block;
}

/* 
=================================
        FOOTER 
=================================
*/

footer {
    margin-bottom: 0em;
}