@media only screen and (max-width: 694px) {

/*
=================================
        HEADER
=================================
*/

body > header {
    min-height: 3em;
}

body > header h1 {
    float: left;
    display: block;
    font-size: 1.5em;
    padding: 10px 20px;
}

#logo {
    display: none;
}

/*
=================================
        MENU
=================================
*/

#menu {
    margin: 0;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-in-out;
}

#menu li a {
    padding: 14px 16px;
}

#menu li a, #menu li {
    display: block;
}

#menu li:last-child {
    float: none;
}

.menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav-icon {
    background: var(--principale);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.nav-icon:before {
    background: var(--principale);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.nav-icon:after {
    background: var(--principale);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.menu-btn:checked ~ #menu {
    max-height: 37em;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

/*
=================================
        CONTENUTO
=================================
*/

#immagineLocale, #immaginePanino {
    width: 70%;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#cosafacciamo {
    clear: both;
}

#promozioneStudenti {
    padding-top: 0em;
}

/* CONTENUTO > Menu */

#contenitorePanini li {
    flex: 50%;
}

#contenitorePanini img {
    width: 45%;
}

#contenitorePanini::after {
    content: "";
    flex: 50%;
}

/* CONTENUTO > Panino */

#ingredienti {
    margin-bottom: 1em;
}

.commento {
    width: 100%;
}

#votoPanino {
    margin-left: 0;
}

/* CONTENUTO > Storia */

.article, .importantarticle {
    width: auto;
    display: flex;
    flex-direction: column;
}

#HistoryImg {
    display: none;
}

.year {
    text-align: center;
    white-space: normal;
}

.subtitle {
    width: 100%;
}

.importantarticle .subtitle h3 {
    border-top: 3px solid white;
}

/* CONTENUTO > Contatti */

.centrato {
    display: block;
}

/* CONTENUTO > Gestione Eventi */

#form {
    flex-direction: column;
}

.formEvento:first-child {
    padding-right: 0em;
    padding-bottom: 1.6em;
}

#titolo, #data-ora, #luogo, #descrizione, #date {
    width: fit-content;
    margin: auto;
}

select, #data-ora, #date {
    width: 157px;
    margin: auto;
}

/*
=================================
        FOOTER
=================================
*/

footer {
    margin-bottom: 0em;
}

}

@media only screen and (max-width: 730px) {

/*
=================================
        MENU
=================================
*/

/* CONTENUTO > Menu */

#leftSidebar {
    width: 100%;
    line-height: 3em;
    color: var(--principale);
}

#contenutoGeneraleMenuPanini {
    display: inline-block;
    line-height: 1.8;
    padding: 1em 0.2em 1em 0.2em;
    margin:auto;
    border-top: 1px solid var(--divisore);
    border-left: none;
}

#categoria {
    display: inline;
    margin: 0;
    clear: both;
    max-height: 0;
}

#categoria li {
    display: inline;
}

}