/* 
=================================
        HEADER 
=================================
*/

header {
    min-height: 3em;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5em;
    padding-top: 0.23em;
}

#logo {
    display: none;
}
/* 
=================================
        MENU 
=================================
*/

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;   /*da modificare*/
    width: 0;
    position: fixed;
    top: 0;
    right: -15em;
    padding: 0em 2em 0em 2em;
    transition: 0.5s;
    background: #bd091b; 
}

#menu {
    display: flex;
    flex-direction: column;
}

.menu-active {
    width: fit-content;
    right: 0;
}

.apri-nav img, .chiudi-nav img {    /*decidere tra width 2em o 3em (per chiudi-nav)*/
    width: 3em;
    display: block;
    cursor: pointer;
}

.chiudi-nav-active {
    padding-top: 1em;
    margin-bottom: 1em;
}

#menu > li {
    margin: 0.3em 1em 0.5em 0em;   /*per facilitare clic*/
    font-size: 1.4em;
}

/*
=================================
        CONTENUTO 
=================================
*/
#contenutoGenerale header{
    display: block;
    text-align: center;
}

#promozioneStudenti {
    min-height: 5em;
    padding-top: 0em;
}

/* CONTENUTO > Contatti */

.centrato {
    display: block;
}


/* 
=================================
        FOOTER 
=================================
*/

footer {
    margin-bottom: 0em;
}