* {
    padding: 0em;
    margin: 0em;
}

html {
    font-family: Georgia, 'Times New Roman', serif;
}

.aiutiNascosti {
    display:none;
}

/*
=================================
        HEADER
=================================
*/

body > header {
    padding: 1.0em;
    min-height: 6em;
    text-align: center;
    padding-bottom: 0em;
}

body > header h1 {
    font-size: 2.5em; /*Forse va diminuito*/
}

#logo {
    display: none;
}

/*
=================================
        MENU
=================================
*/

#menu, .menu-btn, .menu-icon {
    display: none;
}

/*
=================================
        BREADCRUMB
=================================
*/

#breadcrumb {
    padding: 0em 0em 1em 0em; /*Aumentare Font?*/
}

#breadcrumb a {
    color: black;
    text-decoration: none;
}

/*
=================================
        CONTENUTO
=================================
*/

#contenutoGenerale {
    line-height: 1.8;
    padding: 1em 0.2em 1em 0.2em;
    text-align: justify;
}

#immagineLocale, #immaginePanino {
    display: none;
}

abbr {
    text-decoration: none;
}

/* CONTENUTO > Menu */

#leftSidebar {
    line-height: 2em;
}

#leftSidebar ul {
    list-style-type: none;
    font-size: 1.5em;
}

#categoria a {
    color: black;
}

#contenutoGeneraleMenuPanini {
    padding: 1em 0.2em 1em 0.2em;
}

#contenitorePanini {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
}

#contenitorePanini li {
    flex: 33%;
}

#contenitorePanini a {
    color: black;
}

#contenitorePanini img {
    width: 40%;
    display: block;
    margin: auto;
}

#contenitorePanini .nomePanino {
    text-decoration: none;
    font-size: 1.2em;
}

/* CONTENUTO > Panino */

#ingredienti ul {
    list-style: inside;
}

#votoPanino .number {
    font-size: 2.5em;
}

#votoPanino a {
    color: black;
}

#formVotoPanino {
    display: none;
}

#descrizionePanino {
    padding-bottom: 1em;
}

.commento {
    padding-bottom: 0.5em;
}

.commentoUser {
    float: left;
}

.commentoOra {
    float: right;
    margin-right: 1em;
}

.commentoText {
    clear: both;
}

#boxAggiuntaCommento {
    display: none;
}

/* CONTENUTO > Storia */

#HistoryImg {
    display: none;
}

/* CONTENUTO > Contatti */

#contatti {
    padding-top: 1.25em;
}

#orari, #contatti {
    list-style: none;
}

.centrato {
    display: flex;
}

.centrato div {
    flex: 1 1 200px;
    text-align: center;
}

#contatti a.tel, #contatti a#mail {
    color:black;
    text-decoration: none;
}

/* CONTENUTO > Area Riservata */

.button {
    color: black;
}

/* CONTENUTO > Gestione Eventi */

#form {
    display: none;
}

/* CONTENUTO > Gestione Commenti */

.commentoUser a {
    color: black;
}

/* CONTENUTO > 404 e 500 */

#nonTrovato {
    text-align: center;
    line-height: 2;
}

/*
=================================
        FOOTER
=================================
*/

footer {
    line-height: 1.8;
}

footer a.tel {
    color: black;
    text-decoration: none;
}