* {
    padding: 0em;
    margin: 0em;
}

html {
    background-color: #faf2dd;
    width: 100%;
}

body {
    max-width: 1024px;
    margin: auto;
    font-family: "Comic Sans MS", cursive, sans-serif; /*font da cambiare*/
}

/* 
=================================
        HEADER 
=================================
*/

header {
    padding: 1.0em;
    padding-bottom: 0em;
    text-align: center;
    min-height: 6em;
}

header h1 {
    color: #bd091b;
    font-size: 3.5em;
}

#logo {
    float: left;
    max-width: 6em;
}

/* 
=================================
        MENU 
=================================
*/

#menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #bd091b;
}

#menu li a {
    padding: 14px 16px;
}

#menu li a, #menu li {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#menu li#currentLink {
    border-bottom: white 4px solid;
    padding: 14px 16px 10px 16px;
}

#menu li a:hover {
    background-color: white;
    color: #bd091b;
}

#menu li:last-child {
    float: right;
}

/* 
=================================
        BREADCRUMB 
=================================
*/

#linkBreadcrumb {
    text-decoration: none;
    background-color: white;
    color: #bd091b;
    font-weight: bold;
}

#breadcrumb {
    background-color: white;
    color: #bd091b;
    padding: 0.5em 0 0.5em 1.0em;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* 
=================================
        CONTENUTO 
=================================
*/

#contenutoGenerale {
    background-color: white;
    line-height: 1.8;
    padding: 1em 0.2em 1em 0.2em;
}

#immagineLocale {
    float: left;
    width: 41%;
    padding-right: 0.5em;
}

#cosafacciamo {
    min-height: 18em;
}

#promozioneStudenti {
    font-size: 1.6em;
    min-height: 8em;
    padding-top: 6em;
}

#immaginePromozione {
    width: 40%;
    float: right;
}

abbr {
    text-decoration: none;
}

/* 
=================================
        FOOTER 
=================================
*/

footer {
    background-color: #bd091b;
    color: white;
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

/* 
=================================
        CONTATTI
=================================
*/

#contenutoGeneraleC {
    background-color: white;
    padding: 1em 0.2em 1em 0.2em;
    display: flex;
    line-height: 1.8;
}

#contenutoGeneraleC div {
    flex: 1 1 200px;
    text-align: center;
}

#contenutoGeneraleC ol {
    list-style: none;
}

#contatti {
    padding-top: 1.25em;
}