<article class="commento">
    <header>
        <h4 class="commentoUser">Se vuoi scrivere una recensione effettua il <a lang="en" href="login.php">login</a></h4>
    </header>
    <form action="php/aggiungiCommento.php" method="post" id="invioCommento" onsubmit="return validaCommento()">
        <textarea name="testo" id="commento" rows="8" placeholder="Effettua il login per scrivere un commento" disabled></textarea>
        <input type="submit" value="Pubblica" id="pubblicaBtn" disabled/>
    </form>
</article>